<h1>Things That You Need ToDo</h1>
<p><%= link_to 'New Item', new_list_path %></p>
<% @lists.each do |list| %>
  <p><%= list.things_todo %></p>
      <p><%= list.done %></p>
<%= link_to 'Show ToDo', list_path(list) %>
<%= link_to 'Edit Job', edit_list_path(list) %>
<%= link_to 'Destroy', list_path(list), method: :delete %>


<% end %>  